<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>WebZ - Best webs & hosting</title>
</head>
<body>
    <div class="mant">
        <h1 class="h1mant">Please visit the page from a computer</h1>
        <a href="https://discord.gg/vsjY2N5AW7"><button id="mantbtn">Discord</button></a>
    </div>
    
    <div id="main">
        <nav>
            <a href="/home"><img id="logo" src="../static/img/logo.png" alt="Logo WebZ"></a>
            <li><a class='nava' href="/webs">Web design</a></li>
            <li class="morenav"><a href="https://discord.gg/vsjY2N5AW7" target="blank_">Contact</a>
                <ul>
                    <li><a href="https://discord.gg/vsjY2N5AW7">Discord</a></li>
                    <li><a href="/contact">Email</a></li>
                </ul>
            </li>
            <li><a class="nava" href="https://discord.gg/vsjY2N5AW7" target="blank_">Discord</a></li>
        </nav>
    
        <div id="home">
            <div id="txthome">
                <h1>Best hosting & web design</h1>
                <h3>We create your proffesional webs and host them in our high cuality hosting. 24/7 personalized assistance</h3>
                <a href="https://discord.gg/vsjY2N5AW7" target="blank_"><button id="topbtn">Join WebZ</button></a>
                <h4>First ones to join get 20% off</h4>
            </div>
        </div>
    
        <h1 id="servicesh1">Services</h1>
    
        
    
        <div id="services">
    
            <div id="webinfo">
                <img id="webimg" src="../static/img/webs.png" alt="Webs WebZ">
                <div id="txtwebinfo">
                    <a id="txtwebinfoa" href="/webs">WebZ Web creation</a>
                    <h3>Create with us your fully personalized web. Send us and an email and get a budget for free; the price will change depending on the speifications and the time of the creation of it. 24/7 assistance.</h3>
                    <a id="txtwebinfoaa" href="/webs"><button id="hireweb">Get your own web</button></a>
                </div>
            </div>
    
            <div id="hostinfo">
                <div id="txthostinfo">
                    <a id="txthostinfoa" href="">WebZ Hosting</a>
                    <h3>The fastest and securest hosting in Spain. We host the webs that you created with us so that you can have personalized assintance 24/7. When we have youe web up and ready, you can choose any of our plans.</h3>
                    <a id="txthostinfoaa" href="https://discord.gg/vsjY2N5AW7"><button id="hirehost">See plans</button></a>
                </div>
                <img id="hostimg" src="../static/img/host.png" alt="Hosting WebZ">
            </div>
        
        </div>
        <footer>
            <h1>WebZ © 2022</h1>
            <li><a href="/webs">Web creation</a></li>
            <li><a href="https://discord.gg/vsjY2N5AW7">Discord</a></li>
            <li><a href="/contact">Send email</a></li>
        </footer>
    </div>
</body>
</html>